body{
  background-color: #ffffe6;
}

#header{
background-color:#e6f2ff;
border: solid 3px;
float: center-block;
font-family: trebuchet;
margin-top: 20px;
}

#project{
  font-size: 22px;
  color: #004d00;
  margin-top: 100px;
  margin-left: 100px;
}

#about{
  /*background-color: light gray;*/
  float: right;
  /*border: #1f7a1f solid 2px;*/
  padding: 10px;
  margin-left: 10px;
  font-size: 22px;
  color: #004d00;
  margin-top: 100px;
}

h2{
  color: #004080;
  font-size: 40px;
}

p{
  text-shadow: #ffd1b3 3px;
}

#image {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 200px;
  border-radius: 300px;
  border: solid brown 3px;
}

.link
{
  cursor: crosshair;
}
