body{
  background-color: #ffffe6;
}

#header{
background-color:#e6f2ff;
border: solid 3px;
float: center-block;
font-family: trebuchet;
margin-top: 20px;
}

#header h1{
  font-size: 40px;
  color: blue;
}

#header h3{
  font-size: 27px;
}

#header p{
  font-size: 22px;
}
#project{
  font-size: 22px;
  color: #004d00;
  margin-top: 100px;
  margin-left: 100px;
}

#about{
  float: right;
  padding: 10px;
  margin-left: 10px;
  font-size: 22px;
  color: #004d00;
  margin-top: 100px;
}

#about p{
  font-size: 19px;
}

h2{
  color: #004080;
  font-size: 40px;
}

p{
  text-shadow: #ffd1b3 3px;
}

#image {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 200px;
  border-radius: 300px;
  border: solid brown 3px;
}

.link
{
  cursor: crosshair;
}

.panelheading{
  font-size: 33px;
}
